// We expect our HTML and CSS to be embedded in other sites.
// Those sites' styles might affect the styles of our elements.
// This partial is used to reset the parent site's styles.
// It is not exhaustive (we can't know what parent sites
// will have in their CSS), and may grow over time.
// If you have an extreme sitation, you could go nuclear with
// https://github.com/premasagar/cleanslate.

* {
    background-color: unset;
    color: unset;
    float: unset;
    font-size: unset;
    font-style: unset;
    font-weight: unset;
    line-height: unset;
    margin: unset;
    padding: unset;
    text-align: unset;

    box-sizing: border-box;
    *, *:before, *:after {
        box-sizing: inherit;
    }
}
