@mixin stage-borders($side: "right", $position: "first") {
    border-#{$side}: $rule-thickness solid $color-text;
    border-radius: $curve $curve $curve $curve;

    @if $side == "right" {
        border-radius: 0 $curve $curve 0;
    } @else {
        border-radius: $curve 0 0 $curve;
    }

    // Make top and bottom borders overlap
    // border-bottom: $rule-thickness solid $color-text;
    // border-top: $rule-thickness solid $color-text;
    margin-bottom: -($rule-thickness);

    // Top and bottom borders with pseudoelements
    position: relative;
    &::before,
    &::after {
        border-radius: 0 $curve $curve 0;
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 50%;
        right: 0;
    }
    &::before {
        border-top: $rule-thickness solid $color-text;
        bottom: 50%;
    }
    &::after {
        border-bottom: $rule-thickness solid $color-text;
        top: 50%;
    }

    &:last-child {
        &::after {
            left: 75%;
        }
    }

    @if $side == "left" {
        &::before,
        &::after {
            left: 0;
            right: 50%;
            border-radius: $curve 0 0 $curve;
        }
        &:last-child {
            &::after {
                right: 75%;
                left: 0;
            }
        }
    }
}

@mixin stage-image-alignment($side: "right") {

    @if $side == "left" {
        .task-image {
            float: left;
            margin-right: 1rem;
            margin-left: 0;
        }
        .task-expand {
            margin-left: 40%; // align with text
        }
    }
}

.stage {
    padding: 2rem 1rem;
}

// Create alternating sides
// This seems clumsy, and only goes to a certain depth.
// Hopefully we'll find a more elegant way.
h2 + .stage {
    @include stage-borders();
    @include stage-image-alignment();

    & + .stage {
        @include stage-borders(left);
        @include stage-image-alignment(left);

        & + .stage {
            @include stage-borders();
            @include stage-image-alignment();

            & + .stage {
                @include stage-borders(left);
                @include stage-image-alignment(left);

                & + .stage {
                    @include stage-borders();
                    @include stage-image-alignment();

                    & + .stage {
                        @include stage-borders(left);
                        @include stage-image-alignment(left);

                        & + .stage {
                            @include stage-borders();
                            @include stage-image-alignment();
                        }
                    }
                }
            }
        }
    }
}
