@mixin stage-borders($side: "right", $position: "first") {
    border-#{$side}: $rule-thickness solid $color-text;

    @if $side == "right" {
        border-radius: 0 $curve $curve 0;
    } @else {
        border-radius: $curve 0 0 $curve;
    }

    // Make top and bottom borders overlap
    // border-bottom: $rule-thickness solid $color-text;
    // border-top: $rule-thickness solid $color-text;
    margin-bottom: -($rule-thickness);

    // Top and bottom borders with pseudoelements
    position: relative;
    &::before,
    &::after {
        border-radius: 0 $curve $curve 0;
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 30%;
        right: 0;
    }
    &::before {
        border-top: $rule-thickness solid $color-text;
    }
    &::after {
        border-bottom: $rule-thickness solid $color-text;
    }

    &:last-child {
        &::after {
            left: 75%;
        }
    }

    @if $side == "left" {
        &::before,
        &::after {
            left: 0;
            right: 70%; // off centre to keep .task-expand clickable
            border-radius: $curve 0 0 $curve;
        }
        &:last-child {
            &::after {
                right: 75%;
                left: 0;
            }
        }
    }
}

@mixin stage-image-alignment($side: "right") {

    @if $side == "left" {
        .task-image {
            float: left;
            margin-right: 1rem;
            margin-left: 0;
        }
    }
}

@mixin task-dots($side: "right") {
    .task-image {
        position: relative;

        &::before {
            content: "\2022";
            font-size: 2rem;
            position: absolute;
            right: -1.6rem;
            top: calc(50% - 1rem);

            // Reverse side for left-aligned images
            @if $side == "left" {
                left: -1.6rem;
                right: auto;
            }
        }
    }

    // Mouseover phase emphasises all dots in phase
    &:hover,
    &:focus,
    &:active {

        .task-image::before {
            color: $color-bg;
            text-shadow: -1.5px 0 $color-text, 0 1.5px $color-text, 1.5px 0 $color-text, 0 -1.5px $color-text;
        }
    }
}

.stage {
    padding: 2rem 1rem;
}

// Create alternating sides
// This seems clumsy, and only goes to a certain depth.
// Hopefully we'll find a more elegant way.
h2 + .stage {
    @include stage-borders();
    @include stage-image-alignment();
    @include task-dots();

    & + .stage {
        @include stage-borders(left);
        @include stage-image-alignment(left);
        @include task-dots(left);

        & + .stage {
            @include stage-borders();
            @include stage-image-alignment();
            @include task-dots();

            & + .stage {
                @include stage-borders(left);
                @include stage-image-alignment(left);
                @include task-dots(left);

                & + .stage {
                    @include stage-borders();
                    @include stage-image-alignment();
                    @include task-dots();

                    & + .stage {
                        @include stage-borders(left);
                        @include stage-image-alignment(left);
                        @include task-dots(left);

                        & + .stage {
                            @include stage-borders();
                            @include stage-image-alignment();
                            @include task-dots();
                        }
                    }
                }
            }
        }
    }
}
