// Also see _stage.scss for image alignment
// and see h3 in _type.scss

.task {

    margin-bottom: 1rem;
    &:last-child {
        margin-bottom: 0;
    }

    .task-image {
        display: inline-block;
        float: right;
        margin-left: 1rem;
        margin-right: 0;
        margin-top: 1rem;
        width: calc(40% - 1rem); // 1rem is margin to text

        img {
            // max-height: $line-height * 6 * 1em;
            width: 100%;
        }
    }

    .task-text {
        display: inline-block;
        width: 60%;

        .summary {
            margin: 0.5rem 0;

            // Hide detailed description by default
            & ~ * {
                display: none;
            }
        }

        p {
            font-size: 1rem;
            font-weight: 300;
        }
    }

    .task-expand {
        width: 60%;
    }
}
