.task {

    .task-image {
        float: right;
        margin-top: 1rem;
    }

    .task-text {

        .summary {
            margin: 0.5rem 0;

            // Hide detailed description by default
            & ~ * {
                display: none;
            }
        }

        p {
            font-size: 1rem;
            font-weight: 300;
        }
    }
}
