<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.data.settings.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/styles/web.css">

    <meta property="og:title"
        content="{{ site.data.settings.title }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ site.data.settings.url }}{{ page.url }}" />
    <meta property="og:image"
        content="{{ site.data.settings.url }}/images/{% if page.image %}{{ page.image }}{% else %}{{ site.data.settings.image }}{% endif %}" />
    <meta property="og:description"
        content="{% if page.description and page.description != "" %}{{ page.description | markdownify | strip_html }}{% elsif page.excerpt and page.excerpt != "" %}{{ page.excerpt | markdownify | strip_html }}{% else %}{{ site.data.settings.description }}{% endif %}" />
    <meta property="og:site_name" content="{{ site.data.settings.title }}" />

</head>
<body>
    <div class="modern-book-production">
        {{ content }}

        <div class="credits">
            {% include image file="avatar.png" %}
            Created and maintained by <a href="https://electricbookworks.com">Electric Book Works</a>,<br>
            with your help. Contribute at <a href="https://ebw.co/mbp">ebw.co/mbp</a>.
        </div>
    </div>
    <script src="{{ site.baseurl }}/js/modern-book-production.js"></script>
</body>
</html>
