<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.data.settings.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/styles/web.css">
</head>
<body>
    <div class="modern-book-production">
        {{ content }}

        <div class="credits">
            {% include image file="avatar.png" %}
            Created and maintained by <a href="https://electricbookworks.com">Electric Book Works</a>,<br>
            with your help. Contribute at <a href="https://ebw.co/mbp">ebw.co/mbp</a>.
        </div>
    </div>
    <script src="{{ site.baseurl }}/js/modern-book-production.js"></script>
</body>
</html>
